.background {
	width: 100%; /* 750px; */
	height: 1597.9px;
	background-color: #dedede;
}
.card {
	margin: 0 auto;
	width: calc(100% - 130px); /* 750 - 130 */
	height: 420px;
}
.card-image{
	top: 0;
	left: 0;
	width: calc(100% - 40px); /* 580px */
	height: 320px;
	background-color: #000000;
	box-shadow: 0px 50px 50px 0 rgba(0, 0, 0, 0.1);
}
.label-bg {
	width: 100px;
	height: 100px;
	background-color: #ffffff;
}
.card-bg {
	right: 0;
	bottom: 0;
	width: calc(100% - 40px); /* 580px */
	height: 340px;
	background-color: #ffffff;
	box-shadow: 0px 50px 50px 0 rgba(0, 0, 0, 0.15);
}